<div class="grid md:ml-3">
    <p class="text-3xl font-bold">Pedidos pendentes:<p>
    <div class="grid md:col-12">
        @if(pedidosSeparacao.length == 0){
            <p class="ml-3">Nenhum pedido(s) pendente!</p>
        }
        @for(pedido of pedidosSeparacao; track pedido){
        <div class="col-12 md:col-3">
            <app-card-separacao [pedido]="pedido" (statusAlterado)="buscarPedidos()"></app-card-separacao>
        </div>
        }
    </div>

    <!-- <p class="text-3xl font-bold">Pedidos embalados:<p>
    <div class="grid md:col-12">
        @if(pedidosEmbalados.length == 0){
            <p class="ml-3">Nenhum pedido embalado</p>
        }
        @for(pedido of pedidosEmbalados; track pedido){
        <div class="col-12 md:col-3">
            <app-card-separacao [pedido]="pedido" (statusAlterado)="buscarPedidos()"></app-card-separacao>
        </div>
        }
    </div> -->

    <!-- <p class="text-3xl font-bold">Pedidos que saíram do estoque:<p>
    <div class="grid md:col-12">
        @if(pedidosSaidaEstoque.length == 0){
            <p class="ml-3">Nenhum pedido saiu do estoque</p>
        }
        @for(pedido of pedidosSaidaEstoque; track pedido){
        <div class="col-12 md:col-3">
            <app-card-separacao [pedido]="pedido" [notButton]="true" (statusAlterado)="buscarPedidos()"></app-card-separacao>
        </div>
        }
    </div> -->
</div>