<p-breadcrumb 
    class="max-w-full" 
    [model]="items" 
    [home]="home" />
    
<app-datagrid [data]="data ? data : []" [columns]="columns" [configuracoes]="configuracoes" titulo="Gestão de Produtos" class="w-full"></app-datagrid>

<ng-template #modalControleEstoque>
    <p class="text-sm text-red-500 mb-3">* representam campos obrigatórios!</p>
    <form [formGroup]="formEstoque">
        <div class="grid">
            <div class="col-12 md:col-4">
                <app-form type="int" id="qtd_estoque" label="Qtd. Estoque Atual" formControlName="qtd_estoque" [readonly]="true" ngDefaultControl/>
            </div>
            <div class="col-12 md:col-4">
                <app-form type="int" id="quantidade" label="Qtd. Movimentação" formControlName="quantidade"  [exibirLabelObrigatoriedade]="true" erro="Digite a quantidade da movimentação!" ngDefaultControl/>
            </div>
            <div class="col-12 md:col-4">
                <app-form label="Tipo de movimentação" type="radio" formControlName="movimentacao"  [exibirLabelObrigatoriedade]="true" [items]="opcoesRadio" erro="Selecione o tipo da movimentação!" ngDefaultControl />
            </div>

        </div>
    </form>
    <p class="text-primary text-base font-bold">Última movimentação desse produto:</p>
    <p class="text-sm"><span class="font-bold">Data: </span>{{formatarData(movimentacaoProduto.data)}}</p>
    <p class="text-sm"><span class="font-bold">Quantidade: </span>{{movimentacaoProduto.qtd}}</p>
    <p class="text-sm flex align-items-center gap-2">
        <span class="font-bold">Tipo: </span>
        <span class="mr-1">
            @if(movimentacaoProduto.tipo == 'entrada'){
            <i class="pi pi-arrow-down text-green-500"></i>
            }@else{
            <i class="pi pi-arrow-up text-red-500"></i>
            }
            {{movimentacaoProduto.tipo}}
        </span>
    </p>
    <p class="text-sm"><span class="font-bold">Usuário: </span>{{movimentacaoProduto.nomeUsuario}}</p>
</ng-template>

<ng-template #modalMarca>
    <form [formGroup]="formMarca">
        <p>Para cadastrar uma marca é apenas necessário digitar o nome dela:</p>
        <div class="grid">
            <div class="col-12 md:col-4">
                <app-form type="text" id="nome" label="Nome" [exibirLabelObrigatoriedade]="true" formControlName="nome" erro="Digite o nome da marca!" ngDefaultControl/>
            </div>
        </div>
    </form>
</ng-template>