<form [formGroup]="formFiltroMarca">
    <p-card>
        <div class="grid">
            <div class="col-12 md:col-6 py-0 mt-2">
                <app-form type="select" [items]="itensMarcas" id="marca_id" placeholder="Selecione uma marca para filtrar" formControlName="marca_id" ngDefaultControl/>
            </div>
            <div class="col-12 md:col-6 py-0 mt-2">
                <app-form type="select" [items]="itensCategoria" id="categoria_id" placeholder="Selecione uma categoria para filtrar" formControlName="categoria_id" ngDefaultControl/>
            </div>
        </div>
    </p-card>
</form>

<div class="mt-2 grid">
    <div class="col-12 md:col-4">
        <app-card-dashboard title="Total venda" [valor]="dadosCards?.vlr_total_venda" tipoValor="moeda" cor="positivo"></app-card-dashboard>
    </div>
    <div class="col-12 md:col-4">
        <app-card-dashboard title="Total custo" [valor]="dadosCards?.vlr_total_compra" tipoValor="moeda" cor="negativo"></app-card-dashboard>
    </div>
    <div class="col-12 md:col-4">
        <app-card-dashboard title="Diferença" [valor]="dadosCards?.vlr_diferenca" tipoValor="moeda" cor="maior-menor-zero"></app-card-dashboard>
    </div>
</div>

<div class="mt-2">
    <app-datagrid [data]="dadosTabelaEstoque" [columns]="columnsTabelaEstoque" [configuracoes]="configuracoes" titulo="Produtos no estoque" class="w-full"></app-datagrid>
</div>

<div class="mt-2">
    <app-datagrid [data]="dadosTabelaEstoqueCoeficienteCompras" [columns]="columnsTabelaEstoqueCoeficienteCompras" [configuracoes]="configuracoes" titulo="Compras" class="w-full"></app-datagrid>
</div>

<div class="mt-2">
    <p-card>
        <p class="text-900 text-xl font-semibold">Marcas com mais produtos</p>
        <p-chart type="bar" [data]="dataMarcasGrafico" [options]="basicOptionsGrafico" />
    </p-card>
</div>