<form [formGroup]="formFiltroAnomes">
    <p-card>
        <div class="grid">
            <div class="col-12 py-0 mt-2">
                <app-form type="select" [items]="itensAnomes" id="anomes" placeholder="Selecione uma mes para filtrar" formControlName="anomes" ngDefaultControl/>
            </div>
        </div>
    </p-card>
</form>

<div class="mt-2 grid">
    <div class="col-12 md:col-3">
        <app-card-dashboard title="Vendas" [valor]="dadosCards?.vlr_total_venda" tipoValor="moeda" cor="positivo"></app-card-dashboard>
    </div>
    <div class="col-12 md:col-3">
        <app-card-dashboard title="Custos fretes" [valor]="dadosCards?.vlr_total_frete" tipoValor="moeda" cor="positivo"></app-card-dashboard>
    </div>
    <div class="col-12 md:col-3">
        <app-card-dashboard title="Custos produtos" [valor]="dadosCards?.vlr_total_custo" tipoValor="moeda" cor="negativo"></app-card-dashboard>
    </div>
    <div class="col-12 md:col-3">
        <app-card-dashboard title="Custos fixos" [valor]="dadosCards?.vlr_total_custo_fixo" tipoValor="moeda" cor="negativo"></app-card-dashboard>
    </div>
    <div class="col-12 md:col-3">
        <app-card-dashboard title="Custos atletas" [valor]="dadosCards?.vlr_total_custo_atleta" tipoValor="moeda" cor="negativo"></app-card-dashboard>
    </div>
    <div class="col-12 md:col-3">
        <app-card-dashboard title="Lucro líquido" [valor]="dadosCards?.vlr_total_lucro" tipoValor="moeda" cor="maior-menor-zero"></app-card-dashboard>
    </div>
    <div class="col-12 md:col-3">
        <app-card-dashboard title="Margem líquida" [valor]="dadosCards?.vlr_margem_liquida" tipoValor="porcentagem" cor="margem"></app-card-dashboard>
    </div>
    <div class="col-12 md:col-3">
        <app-card-dashboard title="Ticket médio" [valor]="dadosCards?.vlr_ticket_medio" tipoValor="moeda" cor="ticket-medio"></app-card-dashboard>
    </div>
</div>

<div class="mt-2">
    <app-datagrid [data]="dadosTabelaVendas" [columns]="columnsTabelaVendas" [configuracoes]="configuracoes" titulo="Vendas" class="w-full"></app-datagrid>
</div>

<div class="mt-2">
    <app-datagrid [data]="dadosTabelaCustosAtleta" [columns]="columnsTabelaAtletas" [configuracoes]="configuracoes" titulo="Custo com atletas" class="w-full"></app-datagrid>
</div>

<div class="mt-2">
    <app-datagrid [data]="dadosTabelaCustoMensal" [columns]="columnsTabelaCustoMensal" [configuracoes]="configuracoes" titulo="Custos fixos" class="w-full"></app-datagrid>
</div>