<form [formGroup]="formFiltroAnomes">
    <p-card>
        <div class="grid">
            <div class="col-12 py-0 mt-2">
                <app-form type="select" [items]="itensAnomes" id="anomes" placeholder="Selecione uma mes para filtrar" formControlName="anomes" ngDefaultControl/>
            </div>
        </div>
    </p-card>
</form>

<div class="mt-2 grid">
    <div class="col-12 md:col-3">
        <p-card>
            <div class="flex flex-column justify-center items-center">
                <h3 class="text-center text-base font-bold text-primary">Vendas</h3>
                <h1 class="text-center text-3xl m-0 text-green-500">R$ {{dadosCards?.vlr_total_venda ? toLocaleFixed(dadosCards?.vlr_total_venda) : '--'}}</h1>
            </div>
        </p-card>
    </div>
    <div class="col-12 md:col-3">
        <p-card>
            <div class="flex flex-column justify-center items-center">
                <h3 class="text-center text-base font-bold text-primary">Custos</h3>
                <h1 class="text-center text-3xl m-0 text-red-500">R$ {{dadosCards?.vlr_total_custo ? toLocaleFixed(dadosCards?.vlr_total_custo) : '--'}}</h1>
            </div>
        </p-card>
    </div>
    <div class="col-12 md:col-3">
        <p-card>
            <div class="flex flex-column justify-center items-center">
                <h3 class="text-center text-base font-bold text-primary">Custos fixos</h3>
                <h1 class="text-center text-3xl m-0 text-red-500">R$ {{dadosCards?.vlr_total_custo_fixo ? toLocaleFixed(dadosCards?.vlr_total_custo_fixo) : '--'}}</h1>
            </div>
        </p-card>
    </div>
    <div class="col-12 md:col-3">
        <p-card>
            <div class="flex flex-column justify-center items-center">
                <h3 class="text-center text-base font-bold text-primary">Lucro</h3>
                @if(dadosCards?.vlr_total_lucro < 0){
                    <h1 class="text-center text-3xl m-0 text-red-500">R$ {{dadosCards?.vlr_total_lucro ? toLocaleFixed(dadosCards?.vlr_total_lucro) : '--'}}</h1>
                }@else{
                    <h1 class="text-center text-3xl m-0 text-green-500">R$ {{dadosCards?.vlr_total_lucro ? toLocaleFixed(dadosCards?.vlr_total_lucro) : '--'}}</h1>
                }
            </div>
        </p-card>
    </div>
</div>

<div class="mt-2">
    <app-datagrid [data]="dadosTabelaVendas" [columns]="columnsTabelaVendas" [configuracoes]="configuracoes" titulo="Vendas" class="w-full"></app-datagrid>
</div>

<div class="mt-2">
    <app-datagrid [data]="dadosTabelaCustosAtleta" [columns]="columnsTabelaAtletas" [configuracoes]="configuracoes" titulo="Custo com atletas" class="w-full"></app-datagrid>
</div>

<div class="mt-2">
    <app-datagrid [data]="dadosTabelaCustoMensal" [columns]="columnsTabelaCustoMensal" [configuracoes]="configuracoes" titulo="Custos fixos" class="w-full"></app-datagrid>
</div>