<div class="layout-topbar">
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    <img src="../../assets/img/icons/Logo.png" height="30">
    @if(!isMobile){
        <div #topbarmenu class="layout-topbar-menu flex align-item-center gap-2" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
            <div class="flex align-items-center justify-content-center mr-3 cursor-pointer"
            style="
                border: 1px solid var(--primary-color);
                padding: 2px 20px;
                border-radius: 5px;
            "
            (click)="editarCotacao()">
                <p class="m-0 p-0 font-bold">Cotação: US${{toLocaleFixed(cotacaoAtual)}}</p>
            </div>
            <p class="text-base">Seja bem vindo, <span class="font-bold">{{nomeUsuario ?? '--'}}</span>!</p>
            <button class="p-link layout-topbar-button">
                <i class="pi pi-user"></i>
            </button>
        </div>
    }@else{
        <div class="flex align-items-center justify-content-center mr-3 cursor-pointer"
            style="
                border: 1px solid var(--primary-color);
                padding: 2px 20px;
                border-radius: 5px;
            "
            (click)="editarCotacao()">
            <p class="m-0 p-0 font-bold">US${{toLocaleFixed(cotacaoAtual)}}</p>
        </div>
    }
</div>

<ng-template #modalEditarCotacao>
    <p class="text-sm text-red-500 mb-3">* representam campos obrigatórios!</p>
    <form [formGroup]="formCotacao">
        <div class="grid">
            <div class="col-12">
                <app-form type="dinheiro" currency="USD" id="quantidade" label="Cotação:" formControlName="cotacao"  [exibirLabelObrigatoriedade]="true" ngDefaultControl/>
            </div>
        </div>
    </form>
</ng-template>