<div class="layout-topbar">
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    <a routerLink="/produto">
        <img src="../../assets/img/icons/Logo.png" height="30">
    </a>
    @if(!isMobile){
        <div #topbarmenu class="layout-topbar-menu flex align-item-center gap-2" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
            <p class="text-base">Seja bem vindo, <span class="font-bold">{{nomeUsuario ?? '--'}}</span>!</p>
            <button class="p-link layout-topbar-button">
                <i class="pi pi-user"></i>
            </button>
        </div>
    }
</div>