<p-breadcrumb 
    class="max-w-full" 
    [model]="items" 
    [home]="home" />
    
<p-card header="Cadastro/Edição de Pedidos">  
    <p class="text-sm text-red-500 mb-3">* representam campos obrigatórios!</p>
    <p-steps [model]="itemsSteps" [readonly]="true" [activeIndex]="passoAtual"/>
    <form [formGroup]="formPedido">
      @if(passoAtual == 0){
        <p class="text-base font-bold mt-2">Informações do cliente</p>
        <div class="grid mb-2">
            <div class="col-12 md:col-4">
                <app-form type="select" [items]="itemsClientes" id="cliente_id" label="Cliente" formControlName="cliente_id" placeholder="Selecione o cliente" erro="Selecione um cliente" [exibirLabelObrigatoriedade]="true" ngDefaultControl/>
            </div>
            <div class="col-12 md:col-4">
                <app-form type="cep" id="cep" label="CEP" formControlName="cep" placeholder="Digite o cep do cliente" erro="Digite o cep do cliente" [exibirLabelObrigatoriedade]="true" (focusout)="onCepChange()" ngDefaultControl/>
            </div>
            <div class="col-12 md:col-4">
                <app-form type="text" [readonly]="true" id="logradouro" label="Rua" formControlName="logradouro" placeholder="Digite a rua do cliente" erro="Digite a rua do cliente" [exibirLabelObrigatoriedade]="true" ngDefaultControl/>
            </div>
            <div class="col-12 md:col-4">
                <app-form type="text" id="bairro" [readonly]="true" label="Bairro" formControlName="bairro" placeholder="Digite o bairro do cliente" erro="Digite o bairro do cliente" [exibirLabelObrigatoriedade]="true" ngDefaultControl/>
            </div>
            <div class="col-12 md:col-4">
                <app-form type="text" id="localidade" [readonly]="true" label="Cidade" formControlName="localidade" placeholder="Digite a cidade do cliente" erro="Digite a cidade do cliente" [exibirLabelObrigatoriedade]="true" ngDefaultControl/>
            </div>
            <div class="col-12 md:col-4">
                <app-form type="text" id="uf" [readonly]="true" label="Estado" formControlName="uf" placeholder="Digite o estado do cliente" erro="Digite o estado do cliente" [exibirLabelObrigatoriedade]="true" ngDefaultControl/>
            </div>
            <div class="col-12 md:col-4">
                <app-form type="text" id="numero" label="Número" formControlName="numero" placeholder="Digite o numero do cliente" erro="Digite o numero do cliente" [exibirLabelObrigatoriedade]="true" ngDefaultControl/>
            </div>
            <div class="col-12 md:col-4">
                <app-form type="text" id="complemento" label="Complemento" formControlName="complemento" placeholder="Digite o complemento do cliente" ngDefaultControl/>
            </div>
        </div>
        <div class="grid md:flex md:justify-content-end">
          <div class="col-6 md:col-2">
              <p-button label="Voltar" (click)="passoAnterior()" styleClass="w-full" severity="danger"/>
          </div>
          <div class="col-6 md:col-2">
              <p-button label="Próximo" (click)="proximoPasso()" styleClass="w-full" severity="success"/>
          </div>
      </div>
      }@else if (passoAtual == 1){
        <div class="flex justify-content-between">
          <p class="text-base font-bold mt-2">Produtos do pedido</p>
          <div class="grid flex flex-row justify-content-center md:justify-content-start w-100 px-0 mx-0 mt-1">
            <div class="col-6 md:col-3 px-0 mx-0">
              <p-button [label]="isMobile ? '' : 'Adicionar produto'" [ngClass]="{'botaoAddProduto': !isMobile}"
                icon="pi pi-plus" severity="success"
                (click)="adicionarProduto()" />
            </div>
          </div>
        </div>
        @if(itens.controls.length == 0){
          <p class="text-center text-2xl text-base font-bold mt-2">Nenhum produto adicionado :(</p>
        }
        <div *ngFor="let item of itens.controls; let i = index; trackBy: trackByFn" [formGroup]="item" class="border-1 border-solid border-primary border-round px-3 mb-3">
          @if(isMobile){
            <div class="flex align-items-center justify-content-between">
              <p class="text-base font-bold">Produto {{i+1}}</p>
              <p-button icon="pi pi-trash" [rounded]="true" severity="danger " (click)="removerItemListaProduto(i)"/>
            </div>
          }@else{
            <p class="text-base font-bold">Produto {{i+1}}</p>
          }
          <div class="grid mb-2 flex align-items-center">
            <div class="col-12 md:col-3">
              <div class="w-100 flex flex-column">
                <label>Produto:</label>
                <p-dropdown #dropdown formControlName="produto_id" [options]="itemsProdutos" class="w-full"
                  placeholder="Selecione um produto" [filter]="true" [showClear]="true" ngDefaultControl
                  [ngClass]="{'ng-invalid ng-dirty': !item?.get('produto_id')?.valid && item?.get('produto_id')?.touched }"
                  virtualScroll="true" [virtualScrollItemSize]="35" appendTo="body"
                  [optionLabel]="'label'" 
                  [filterBy]="'label'"
                  (onChange)="onChangeSelectProduto($event, item)"
                  [optionValue]="'value'">
                  <ng-template pTemplate="empty">
                    Nenhum resultado encontrado
                  </ng-template>
                  <ng-template pTemplate="emptyfilter">
                    Nenhum resultado encontrado
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            <div class="col-12 md:col-2">
              <div class="w-100 flex flex-column">
                <label>Quantidade:</label>
                <p-inputNumber formControlName="quantidade" class="w-full" mode="decimal" [useGrouping]="false" [min]="0" [max]="9999999999999999999999999" suffix="x"
                placeholder="Quantidade" buttonLayout="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                [ngClass]="{'ng-invalid ng-dirty': !item?.get('quantidade')?.valid && item?.get('quantidade')?.touched }"></p-inputNumber>
              </div>
            </div>
            <div class="col-12 md:col-2">
              <div class="w-100 flex flex-column">
                <label>Preço unitário:</label>
                <p-inputNumber formControlName="preco_unitario" mode="currency" currency="BRL" locale="pt-BR" placeholder="Preço unitário do produto" class="w-full"
                [ngClass]="{'ng-invalid ng-dirty': !item?.get('preco_unitario')?.valid && item?.get('preco_unitario')?.touched }"></p-inputNumber>
              </div>
            </div>
            <div class="col-12 md:col-2">
              <div class="w-100 flex flex-column">
                <label>Preço custo real:</label>
                <p-inputNumber formControlName="preco_custo" mode="currency" currency="BRL" locale="pt-BR" placeholder="Preço de custo do produto" class="w-full"
                [ngClass]="{'ng-invalid ng-dirty': !item?.get('preco_custo')?.valid && item?.get('preco_custo')?.touched }"></p-inputNumber>
              </div>
            </div>
            <div class="col-12 md:col-2">
              <div class="w-100 flex flex-column">
                <label>Estoque externo?</label>
                <p-checkbox formControlName="is_estoque_externo" [value]="true" [binary]="true" size="large" />
              </div>
            </div>
            @if(!isMobile){
            <div class="col-12 md:col-1">
              <p-button icon="pi pi-trash" [rounded]="true" severity="danger " (click)="removerItemListaProduto(i)"/>
            </div>
            }
          </div>
        </div>
        <div class="grid md:flex md:justify-content-end">
          <div class="col-6 md:col-2">
              <p-button label="Voltar" (click)="passoAnterior()" styleClass="w-full" severity="danger"/>
          </div>
          <div class="col-6 md:col-2">
              <p-button label="Próximo" (click)="proximoPasso()" styleClass="w-full" severity="success"/>
          </div>
        </div>
      }@else if (passoAtual == 2) {
        <p class="text-base font-bold mt-2">Informações do pedido</p>
        <div class="flex flex-column">
          <div style="overflow-x: auto;" class="w-full">
            <table class="w-full table mb-2">
              <tr>
                <th>Produto</th>
                <th>Marca</th>
                <th>Quantidade</th>
                <th>Preço unitário</th>
                <th>Valor total</th>
              </tr>
              @for(item of itens.controls; track item){
                <tr>  
                  <td>{{buscarProduto(item.get('produto_id').value).nome}}</td>
                  <td>{{buscarProduto(item.get('produto_id').value).marca__nome}}</td>
                  <td>{{item.get('quantidade').value}}</td>
                  <td>R$ {{item.get('preco_unitario').value }}</td>
                  <td>{{item.get('quantidade').value * item.get('preco_unitario').value | currency: 'BRL'}}</td>
                </tr>
              }
              <tr>
                <td colspan="3"></td>
                <td class="text-center font-bold text-xl text-primary">Total:</td>
                <td>{{precoTotalProdutos | currency: 'BRL'}}</td>
              </tr>
            </table>
          </div>
          <div class="grid my-2 flex justify-content-end">
            <div class="col-12 md:col-4">
                <app-form type="dinheiro" id="frete" label="Frete" formControlName="frete" placeholder="Digite o frete" erro="Digite o preço do frete" [exibirLabelObrigatoriedade]="true" ngDefaultControl/>
            </div>
            <div class="col-12 md:col-4">
              <app-form type="dinheiro" id="desconto" label="Total (com desconto)" formControlName="total" placeholder="Digite o desconto" ngDefaultControl/>
            </div>
            <div class="col-12 md:col-4">
              <p class="text-3xl font-bold text-primary m-0 text-center mt-3">Valor Total: {{(parseFloat(formPedido.get('total').value) + parseFloat(formPedido.get('frete').value)) - parseFloat(formPedido.get('desconto').value) | currency: 'BRL'}}</p>
            </div>
          </div>
        </div>
        <div class="grid md:flex md:justify-content-end">
          <div class="col-6 md:col-2">
              <p-button label="Voltar" (click)="passoAnterior()" styleClass="w-full" severity="danger"/>
          </div>
          <div class="col-6 md:col-2">
              <p-button label="Confirmar" (click)="proximoPasso()" styleClass="w-full" severity="success"/>
          </div>
        </div>
      }
    </form>
</p-card> 