@if(loading) {
  <p-skeleton height="2.25rem" />
} @else {

  <div class="flex justify-content-between align-items-start w-100">
    <label *ngIf="label && type != 'checkbox' && type != 'color' && type != 'switch'">
      {{ label }}
      @if(exibirLabelObrigatoriedade) {
        <span class="text-sm text-red-500">*</span>
      }
    </label>

    <p-overlayPanel class="p-overlaypanel" #infos>
      <p class="text-sm py-2 px-3">{{ajuda}}</p>
    </p-overlayPanel>
    <i *ngIf="ajuda" (click)="infos.toggle($event)" class="pi pi-info-circle cursor-pointer flex align-items-center justify-content-center text-sm" style="color: #495057"></i>
  </div>

  <div *ngIf="!type || type === 'text'">
    <input pInputText type="text" [formControlName]="formControlName"
      (blur)="onBlurHandler($event)"
      class="w-full"
      [placeholder]="placeholder ?? ''" [readonly]="readonly ?? false" autocomplete="new-password"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }" />
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'pesquisa'">
    <div class="p-inputgroup">
      <input pInputText type="text"
        #inputPesquisa [formControlName]="formControlName"
        (blur)="onBlurHandler($event)" [feedback]="customFeedback" autocomplete="new-password"
        [placeholder]="placeholder ?? ''" [readonly]="readonly ?? false"
        [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }" />
      <button (click)="onPesquisaGenerica()" type="button" pButton icon="pi pi-search"></button>
    </div>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
    <p-overlayPanel styleClass="overlay-pesquisa" #overlayPesquisa>
      <ul>
        <li (click)="selecionarOpcaoPesquisa(opcao)" *ngFor="let opcao of opcoesPesquisa">
          {{opcao}}
        </li>
      </ul>
    </p-overlayPanel>
  </div>

  <div *ngIf="type === 'text-icon'">
    <span class="p-input-icon-left">
      <i class="pi {{ icon }}"></i>
      <input pInputText type="text" [formControlName]="formControlName"
        (blur)="onBlurHandler($event)" autocomplete="new-password"
        [placeholder]="placeholder ?? ''" [readonly]="readonly ?? false"
        [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }" />
      <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
    </span>
  </div>

  <div *ngIf="type === 'textarea'">
    <textarea [maxlength]="maxLength ?? 300" pInputTextarea [formControlName]="formControlName"
      [placeholder]="placeholder ?? ''"[rows]="rows ?? 4" [readonly]="readonly || disabled ?? false"
      (blur)="onBlurHandler($event)" class="w-full"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }">
    </textarea>
    <div class="flex justify-content-between w-100">
      <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
      <p class="text-sm">{{formGroup?.get(formControlName).value?.length ?? 0}}/{{maxLength ?? 300}}</p>
    </div>
  </div>

  <div *ngIf="type === 'text-group'">
    @if (!mask) {
      <p-inputGroup>
        <p-inputGroupAddon>{{ textoAgrupamento }}</p-inputGroupAddon>
        <input pInputText type="text" [formControlName]="formControlName"
          (onBlur)="onBlurHandler($event)"
          (onKeydown)="onKeyDownHandler($event)" autocomplete="new-password"
          [placeholder]="placeholder ?? ''" [readonly]="readonly ?? false"
          [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }" />
      </p-inputGroup>
    } @else if(mask === 'cpf'){
      <p-inputGroup>
        <p-inputGroupAddon>{{ textoAgrupamento }}</p-inputGroupAddon>
        <p-inputMask [formControlName]="formControlName"
          (onBlur)="onBlurHandler($event)"
          (onKeydown)="onKeyDownHandler($event)"
          mask="999.999.999-99" [placeholder]="placeholder ?? ''" [readonly]="readonly ?? false" [autoClear]="autoClear ?? true"
          [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-inputMask>
        <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
      </p-inputGroup>
    } @else if(mask === 'cnpj'){
      <p-inputGroup>
        <p-inputGroupAddon>{{ textoAgrupamento }}</p-inputGroupAddon>
        <p-inputMask [formControlName]="formControlName"
          (onBlur)="onBlurHandler($event)"
          (onKeydown)="onKeyDownHandler($event)"
          mask="99.999.999/9999-99" [placeholder]="placeholder ?? ''" [readonly]="readonly ?? false" [autoClear]="autoClear ?? true"
          [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-inputMask>
        <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
      </p-inputGroup>
    }
  </div>

  <div *ngIf="type === 'editor'">
    <p-editor [(ngModel)]="text" [formControlName]="formControlName" [readonly]="readonly" [style]="{ height: '320px' }"></p-editor>
  </div>

  <div *ngIf="type == 'dxi-editor-html'">
    <app-editor-html [controlName]="formControlName"></app-editor-html>
  </div>

  <div *ngIf="type === 'int'">
    <p-inputNumber [formControlName]="formControlName"
      (onBlur)="onBlurHandler($event)" autocomplete="new-password" class="w-full"
      mode="decimal" [useGrouping]="false" [min]="min ?? 0" [max]="max ?? 9999999999999999999999999"
      [prefix]="prefix ?? ''" [placeholder]="placeholder ?? ''" [readonly]="readonly ?? false"
      [showButtons]="showButtons ?? false" buttonLayout="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-inputNumber>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'float'">
    <p-inputNumber [formControlName]="formControlName"
      (onBlur)="onBlurHandler($event)" autocomplete="new-password" class="w-full"
      mode="decimal" [useGrouping]="false" [minFractionDigits]="2" [maxFractionDigits]="2" [min]="min ?? 0" [max]="max ?? 9999999999999999999999999"
      [prefix]="prefix ?? ''" [placeholder]="placeholder ?? ''" [readonly]="readonly ?? false"
      [showButtons]="showButtons ?? false"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-inputNumber>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'dinheiro'">
    <p-inputNumber [formControlName]="formControlName"
      (blur)="onBlurHandler($event)" autocomplete="new-password"
      mode="currency" [currency]="currency ?? 'BRL'" locale="pt-BR" [placeholder]="placeholder ?? ''" [readonly]="readonly ?? false"
      [showButtons]="showButtons ?? false"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-inputNumber>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'celular'">
    <p-inputMask [formControlName]="formControlName"
      (onBlur)="onBlurHandler($event)"
      mask="(99) 9 9999-9999" [placeholder]="placeholder ?? ''" [autoClear]="autoClear ?? true" [readonly]="readonly ?? false"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-inputMask>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'telefone'">
    <p-inputMask [formControlName]="formControlName"
      (onBlur)="onBlurHandler($event)"
      mask="(99) 9999-9999" [placeholder]="placeholder ?? ''" [autoClear]="autoClear ?? true" [readonly]="readonly ?? false"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-inputMask>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'hora'">
    <p-inputGroup>
      <p-inputMask [formControlName]="formControlName"
        (onBlur)="onBlurHandler($event)"
        mask="99:99" [placeholder]="placeholder ?? ''" [autoClear]="autoClear ?? true" [readonly]="readonly ?? false"
        [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-inputMask>
        <p-button icon="pi pi-clock" />
    </p-inputGroup>

    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'cpf'">
    <p-inputMask [formControlName]="formControlName"
      (onBlur)="onBlurHandler($event)"
      mask="999.999.999-99" [placeholder]="placeholder ?? ''" [autoClear]="autoClear ?? true" [readonly]="readonly ?? false"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-inputMask>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'rg'">
    <p-inputMask [formControlName]="formControlName"
      (onBlur)="onBlurHandler($event)"
      mask="99.999.999-99" [placeholder]="placeholder ?? ''" [autoClear]="autoClear ?? true" [readonly]="readonly ?? false"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-inputMask>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'cnpj'">
    <p-inputMask [formControlName]="formControlName"
      (onBlur)="onBlurHandler($event)"
      mask="99.999.999/9999-99" [placeholder]="placeholder ?? ''" [autoClear]="autoClear ?? true" [readonly]="readonly ?? false"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-inputMask>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'cep'">
    <p-inputMask [formControlName]="formControlName"
      (onBlur)="onBlurHandler($event)"
      (keyup)="onKeyUpHandler($event)"
      mask="99.999-999" [placeholder]="placeholder ?? ''" [autoClear]="autoClear ?? true" [readonly]="readonly ?? false"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-inputMask>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'correio'">
    <p-inputMask [formControlName]="formControlName"
      (onBlur)="onBlurHandler($event)"
      mask="**999999999BR" [placeholder]="placeholder ?? ''" [autoClear]="autoClear ?? true" [readonly]="readonly ?? false"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-inputMask>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'ean'">
    <p-inputMask [formControlName]="formControlName"
      (onBlur)="onBlurHandler($event)"
      mask="*9999999999999" [placeholder]="placeholder ?? ''" [autoClear]="autoClear ?? true" [readonly]="readonly ?? false"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-inputMask>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'mask'">
    <p-inputMask [formControlName]="formControlName"
      (onBlur)="onBlurHandler($event)"
      [mask]="mask ?? ''" [slotChar]="slotChar ?? ''" [autoClear]="autoClear ?? true" [placeholder]="placeholder ?? ''" [readonly]="readonly ?? false"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-inputMask>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'password'">
    <p-password [formControlName]="formControlName"
      [toggleMask]="true" [feedback]="false" [placeholder]="placeholder ?? ''" [readonly]="readonly ?? false" styleClass="w-full"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-password>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'switch'">
    <div class="flex flex-row align-items-center justify-content-start column-gap-2">
      <p-inputSwitch [formControlName]="formControlName"
        [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-inputSwitch>
      <label>{{ label }}</label>
    </div>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'checkbox'">
    <div class="flex align-items-center gap-2 mb-1 mt-4">
      <p-checkbox [formControlName]="formControlName" [value]="true" [binary]="true" class="width-unset" styleClass="width-unset"
        [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-checkbox>
      <label *ngIf="label">{{ label }}</label>
    </div>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'radio'">
    <div *ngIf="items?.length" class="flex gap-4">
      <div class="p-element-radio" *ngFor="let item of items; let index = index">
        <p-radioButton [formControlName]="formControlName" [value]="item?.value" [id]="item?.value + '_' + index"></p-radioButton>
        <label [for]="item?.value + '_' + index" class="ml-2">{{ item?.label }}</label>
      </div>
    </div>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type=== 'select-button'">
    <p-selectButton [options]="items" [formControlName]="formControlName" optionLabel="label" optionValue="value"/>
  </div>

  <div *ngIf="type === 'select'">
    <p-dropdown #dropdown [formControlName]="formControlName" [options]="items" (onChange)="onChangeHandler($event)"
      [placeholder]="placeholder ?? ''" [filter]="true" [showClear]="true" ngDefaultControl
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"
      [virtualScroll]="items.length > 100 ? true : false" [virtualScrollItemSize]="35" appendTo="body"
      (onFilter)="onFilterHandler($event, dropdown)">
      <ng-template pTemplate="empty">
        Nenhum resultado encontrado
      </ng-template>
      <ng-template pTemplate="emptyfilter">
        Nenhum resultado encontrado
      </ng-template>
    </p-dropdown>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'tree-select'">
    <p-treeSelect
      [formControlName]="formControlName"
      [options]="items"
      [filter]="true"
      [metaKeySelection]="metaKeySelection"
      (onChange)="onChangeHandler($event)"
      [showClear]="true"
      ngDefaultControl
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"
      [virtualScroll]="true"
      [virtualScrollItemSize]="35"
      appendTo="body"
      [placeholder]="placeholder ?? ''">
      <ng-template pTemplate="empty">
        Nenhum resultado encontrado
      </ng-template>
      <ng-template pTemplate="emptyfilter">
        Nenhum resultado encontrado
      </ng-template>
    </p-treeSelect>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'select-img'">
    <p-dropdown [formControlName]="formControlName" [options]="items" (onChange)="onChangeHandler($event)" [placeholder]="placeholder ?? ''" [filter]="true" [showClear]="true" ngDefaultControl [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }" [virtualScroll]="true" [virtualScrollItemSize]="35" appendTo="body">
      <ng-template let-item pTemplate="item">
        <div [innerHtml]="item.htmlLabel"></div>
      </ng-template>
    </p-dropdown>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>
  <div *ngIf="type === 'select-multiplo'">
    <p-multiSelect [formControlName]="formControlName" [options]="items"
      [placeholder]="placeholder ?? ''" [showClear]="true" ngDefaultControl
      [virtualScroll]="true" [virtualScrollItemSize]="35" appendTo="body" (onFilter)="onFilter($event)">
        <ng-template pTemplate="empty">
          Nenhum resultado encontrado
        </ng-template>
        <ng-template pTemplate="emptyfilter">
          Nenhum resultado encontrado
        </ng-template>
    </p-multiSelect>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'date'">
    <p-calendar [formControlName]="formControlName"
      [showIcon]="true" dateFormat="dd/mm/yy" dataType="string" appendTo="body"
      (onClose)="onBlurHandler($event)" [readonlyInput]="readonly ?? false"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"
      [minDate]="minDate ?? ''" [maxDate]="maxDate ?? ''"></p-calendar>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'date-time'">
    <p-calendar [formControlName]="formControlName"
      [showIcon]="true" dateFormat="dd/mm/yy" dataType="string" appendTo="body"
      [showTime]="true" [showSeconds]="true"
      (onClose)="onBlurHandler($event)" [readonlyInput]="readonly ?? false"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"
      [minDate]="minDate ?? ''" [maxDate]="maxDate ?? ''"></p-calendar>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'date-manual'">
    <p-inputMask [formControlName]="formControlName"
      mask="99/99/9999" [placeholder]="placeholder ?? ''" [autoClear]="autoClear ?? true" [readonly]="readonly ?? false"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-inputMask>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'date-range'">
    <p-calendar [formControlName]="formControlName"
      [showIcon]="true" dateFormat="dd/mm/yy" appendTo="body"
      [minDate]="minDate ?? ''" [maxDate]="maxDate ?? maxDateDefault" selectionMode="range"
      #rangeData (onSelect)="onSelectDateRange();"></p-calendar>
    <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
  </div>

  <div *ngIf="type === 'color'">
    <div class="flex align-items-center gap-2">
      <p-colorPicker class="width-auto" styleClass="width-auto" [formControlName]="formControlName"
      [appendTo]="body" [readonly]="readonly ?? false"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"></p-colorPicker>
      <label *ngIf="label">{{ label }}</label>
      <small class="invalid" *ngIf="erro && !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched">{{ erro }}</small>
    </div>
  </div>

  <div *ngIf="type === 'tag'">
    <p-chips [formControlName]="formControlName"
      [ngClass]="{'ng-invalid ng-dirty': !formGroup?.get(formControlName)?.valid && formGroup?.get(formControlName)?.touched }"/>
  </div>

  <div *ngIf="type === 'file'">
    <p-fileUpload #fileUploader name="demo[]" [accept]="accept ?? 'image/*'"
      [customUpload]="true" [multiple]="multiple" [showUploadButton]="true"
      [showCancelButton]="false" [auto]="true" class="w-full"
      [maxFileSize]="maxFileSize ?? 1048576"
      [accept]="acceptFiles"
      invalidFileSizeMessageSummary=""
      [invalidFileSizeMessageDetail]="'O limite para upload deste arquivo é de ' + formatarBytes(maxFileSize ?? 1048576)"
      (onUpload)="onUpload($event, fileUploader, maxFileSize ?? 1048576)"
      (onSelect)="onUpload($event, fileUploader, maxFileSize ?? 1048576)">
      <ng-template pTemplate="content">
          @if(!loadingUpload){
            <div class="w-full py-3" style="cursor: copy" (click)="fileUploader.advancedFileInput.nativeElement.click()">
              <div *ngIf="!uploadedFiles?.length || multiple" class="h-full flex flex-column justify-content-center align-items-center">
                  <i class="pi pi-upload text-900 text-sm mb-2"></i>
                  <span class="font-bold text-900 text-sm mb-1">Subir arquivos</span>
                  <span class="font-medium text-600 text-sm text-center">Solte ou selecione arquivos</span>
              </div>
          </div>
          }
          @if(loadingUpload){
            <div *ngIf="loadingUpload" [@inOutAnimation]
              class="flex justify-content-center align-items-center p-3">
              <img src="assets/img/loader/Voai-Loader-2.gif" width="100">
            </div>
          }
          @if(uploadedFiles?.length && !loadingUpload){
            <div class="flex justify-content-center flex-wrap gap-5">
              <div *ngFor="let file of uploadedFiles" class="row w-full flex align-items-center">
                  <div class="col-3">
                    <img [src]="file.arquivo" [alt]="file.nome" (click)="previewImage(file)" class="w-full h-full border-round shadow-2 max-width cursor-pointer">
                  </div>
                  <div class="col-5 p-fileupload-filename text-limite-personalizado font-sm">{{ file.nome }}</div>
                  <div class="col-2 font-sm">{{file.tamanho ? formatarBytes(file.tamanho) : ''}}</div>
                  <div class="col-2 flex justify-content-center">
                      <button type="button" class="p-element p-button-icon-only p-button p-component" (click)="deleteFile($event, file)">
                          <span class="p-button-icon p-c pi pi-times"></span>
                      </button>
                  </div>
              </div>
          </div>
          }
      </ng-template>
    </p-fileUpload>
  </div>
}

<ng-template #previewImagem>
  <div class="modal-body">
    <img [src]="objArquivo.arquivo" [alt]="objArquivo.nome" class="w-full h-full border-round shadow-2">
    <div class="flex justify-content-end">
        <div class="col-6 lg:col-2">
            <p-button label="Cancelar" icon="pi pi-times" [outlined]="true" size="small" styleClass="p-button-primary p-button-sm" (click)="this.modalService.fecharModal()"></p-button>
        </div>
        <div class="col-6 lg:col-2">
            <p-button label="Download" icon="pi pi-upload" size="small" styleClass="p-button-primary p-button-sm" (click)="downloadFile(objArquivo)"></p-button>
        </div>
    </div>
  </div>
</ng-template>
