<form [formGroup]="formFiltroAnomes">
    <p-card>
        <div class="grid">
            <div class="col-12 md:col-6 py-0 mt-2">
                <app-form type="select" [items]="itensAnomes" id="anomes" placeholder="Selecione uma mes para filtrar" formControlName="anomes" ngDefaultControl/>
            </div>
            <div class="col-12 md:col-6 py-0 mt-2">
                <app-form type="select" [items]="itensAtletas" id="atleta_id" placeholder="Todos atletas" formControlName="atleta_id" ngDefaultControl/>
            </div>
        </div>
    </p-card>
</form>

<div class="mt-2 grid">
    <div class="col-12 md:col-6">
        <app-card-dashboard title="Valor total" [valor]="dadosCards?.vlr_total" tipoValor="moeda"></app-card-dashboard>
    </div>
    <div class="col-12 md:col-6">
        <app-card-dashboard title="Lucro líquido" [valor]="dadosCards?.vlr_total_lucro_liquido" tipoValor="moeda" cor="maior-menor-zero"></app-card-dashboard>
    </div>
</div>

@if(formFiltroAnomes.get('atleta_id').value){
    <div class="mt-2">
        <app-datagrid [data]="dadosTabelaVendas" [columns]="columnsTabelaVendas" [configuracoes]="configuracoes" titulo="Pedidos do atleta selecionado" class="w-full"></app-datagrid>
    </div>
}@else{
    <div class="mt-2">
        <app-datagrid [data]="dadosTabelaCustosAtleta" [columns]="columnsTabelaAtletas" [configuracoes]="configuracoesVendas" titulo="Dados dos atletas" class="w-full"></app-datagrid>
    </div>
}
